@import '../../styles/settings.scss';

.nav {
    background-color: darken($color-dark, 3%);
    margin-top: -20px;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 30px;
}

.links ul li {
    padding: 10px;
}

.links ul li a {
    text-decoration: none;
    color: $color-light;
}

.links .icon {
    font-size: 24px;
    color: $color-light;
    margin: 20px 0 0 30px;
}

.links .linkActive {
    color: $color-warning;
}
